.headerbox{
    
    width: 100%;
    text-align: center;
    background: linear-gradient(to top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
    padding-bottom:50px;
    padding-top:10px;
    

}

.links{
    margin-top:100px;
    margin-bottom:100px;
    text-align:center;
}

body{
    background-image: url('../images/frontbg.png');
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0px;
    background-color:#3A3B3C;
    font-family: 'VT323', monospace;
    font-size: 500%;
}

h1{
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
   
}

a {
    text-decoration: none;
    transition: 700ms ease;
    color: white;
}

a:hover{
    text-decoration: none;
    color:brown;
    font-variation-settings: "wght" 582; 
    letter-spacing: 10px;

}

#resumebutton{
    background-color: white;
    font-family: 'VT323', monospace;
    border: 0px;
    width: 300px;
    height: 100px;
    font-size: 70%;
    border-radius:20px;
    transition-duration: 0.5s;
}

#resumebutton:hover{
    background-color:brown;
    color:white;
    transition-duration: 0.5s;
}

#logoutbutton{
    background-color: transparent;
    font-family: 'VT323', monospace;
    border: 0px;
    width: 140px;
    height: 70px;
    font-size: 70%;
    border-radius:20px;
    transition-duration: 0.5s;
}

#logoutbutton:hover{
    color:red;
    transition-duration: 0.5s;
}

